@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <iframe style="height:480px; width:400px; margin:0; padding:0; border:1px solid #808080; border-radius: 12px" 
                
                src="https://webchat.botframework.com/embed/qnamakerheather-bot?s=Qh4raujlOZk.guoOcg6d3rXzLLX3PgAbE_njYLLP0uocjojcJWOOcqw"></iframe>
    </div>
